module "vpc" {
  source = "../../modules/aws/vpc"

  availability-zone = var.availability-zone
}

module "sg" {
  source = "../../modules/aws/sg"

  vpc-subnet-{{ .Project }}-private-a-cidr-block = module.vpc.subnet-{{ .Project }}-private-a-cidr-block
  vpc-subnet-{{ .Project }}-private-c-cidr-block = module.vpc.subnet-{{ .Project }}-private-c-cidr-block
  vpc-subnet-{{ .Project }}-public-a-cidr-block  = module.vpc.subnet-{{ .Project }}-public-a-cidr-block
  vpc-subnet-{{ .Project }}-public-c-cidr-block  = module.vpc.subnet-{{ .Project }}-public-c-cidr-block
  vpc-vpc-{{ .Project }}-id                      = module.vpc.vpc-{{ .Project }}-id
}

module "alb" {
  source = "../../modules/aws/alb"

  vpc-vpc-{{ .Project }}-id             = module.vpc.vpc-{{ .Project }}-id
  sg-{{ .Project }}-alb-id              = module.sg.{{ .Project }}-alb-id
  vpc-subnet-{{ .Project }}-public-a-id = module.vpc.subnet-{{ .Project }}-public-a-id
  vpc-subnet-{{ .Project }}-public-c-id = module.vpc.subnet-{{ .Project }}-public-c-id
  ecs-{{ .Project }}-cluster            = module.ecs.{{ .Project }}-cluster
  load-balancer-rule                    = var.load-balancer-rule
}

module "ecs" {
  source = "../../modules/aws/ecs"
}

module "ecr" {
  source = "../../modules/aws/ecr"
}

module "iam" {
  source = "../../modules/aws/iam"
}

module "rds" {
  source = "../../modules/aws/rds"

  vpc-{{ .Project }}-public-subnets = [
    module.vpc.subnet-{{ .Project }}-public-a-id,
    module.vpc.subnet-{{ .Project }}-public-c-id
  ]

  sg-{{ .Project }}-rds-ids = module.sg.{{.Project }}-rds-ids
}