module "vpc" {
  source = "../../modules/aws/vpc"
}

module "sg" {
  source = "../../modules/aws/sg"

  vpc_subnet_{{ .Project }}_private_a_cidr_block = module.vpc.subnet_{{ .Project }}_private_a_cidr_block
  vpc_subnet_{{ .Project }}_private_c_cidr_block = module.vpc.subnet_{{ .Project }}_private_c_cidr_block
  vpc_subnet_{{ .Project }}_public_a_cidr_block  = module.vpc.subnet_{{ .Project }}_public_a_cidr_block
  vpc_subnet_{{ .Project }}_public_c_cidr_block  = module.vpc.subnet_{{ .Project }}_public_c_cidr_block
  vpc_vpc_{{ .Project }}_id                      = module.vpc.vpc_{{ .Project }}_id
}

module "alb" {
  source = "../../modules/aws/alb"

  vpc_vpc_{{ .Project }}_id             = module.vpc.vpc_{{ .Project }}_id
  sg_{{ .Project }}_alb_id              = module.sg.{{ .Project }}_alb_id
  vpc_subnet_{{ .Project }}_public_a_id = module.vpc.subnet_{{ .Project }}_public_a_id
  vpc_subnet_{{ .Project }}_public_c_id = module.vpc.subnet_{{ .Project }}_public_c_id
  ecs_{{ .Project }}_cluster            = module.ecs.{{ .Project }}_cluster
  load_balancer_rule                    = var.load_balancer_rule
}

module "ecs" {
  source = "../../modules/aws/ecs"
}

module "ecr" {
  source = "../../modules/aws/ecr"
}

module "iam" {
  source = "../../modules/aws/iam"
}

module "s3" {
  source = "../../modules/aws/s3"

}
