resource "aws_alb_target_group" "{{ .APIName }}" {
  name        = "{{ .Project }}-{{ .APIName }}-tg"
  port        = 8000
  protocol    = "HTTP"
  vpc_id      = var.vpc-vpc-{{ .Project }}-id
  target_type = "ip"

  health_check {
    interval            = lookup(var.load-balancer-rule, "{{ .APIName }}.health-check-interval")
    path                = "/health"
    port                = 8000
    protocol            = "HTTP"
    timeout             = lookup(var.load-balancer-rule, "{{ .APIName }}.health-check-timeout")
    healthy_threshold   = lookup(var.load-balancer-rule, "{{ .APIName }}.healthy-threshold")
    unhealthy_threshold = lookup(var.load-balancer-rule, "{{ .APIName }}.unhealthy-threshold")
    matcher             = 200
  }
}

resource "aws_alb_listener_rule" "{{ .APIName }}" {
  listener_arn = aws_alb_listener.{{ .Project }}-http.arn

  action {
    type             = "forward"
    target_group_arn = aws_alb_target_group.{{ .APIName }}.arn
  }

  condition {
    path_pattern {
      values = ["/{{ .APIName }}"]
    }
  }
}

# ## Auto Scaling
# resource "aws_appautoscaling_target" "autoscale-{{ .APIName }}" {
#   service_namespace  = "ecs"
#   resource_id        = "service/${var.ecs-{{ .Project }}-cluster.name}/{{ .APIName }}"
#   scalable_dimension = "ecs:service:DesiredCount"
#   role_arn           = data.aws_iam_role.ecs-service-autoscaling.arn
#   min_capacity       = lookup(var.load-balancer-rule, "{{ .APIName }}.min-capacity")
#   max_capacity       = lookup(var.load-balancer-rule, "{{ .APIName }}.max-capacity")
# }
# 
# resource "aws_appautoscaling_policy" "{{ .APIName }}-scale_up" {
#   name               = "{{ .APIName }}-scale_up"
#   service_namespace  = "ecs"
#   resource_id        = "service/${var.ecs-{{ .Project }}-cluster.name}/{{ .APIName }}"
#   scalable_dimension = "ecs:service:DesiredCount"
# 
#   step_scaling_policy_configuration {
#     adjustment_type         = "ChangeInCapacity"
#     cooldown                = lookup(var.load-balancer-rule, "{{ .APIName }}.scale-up-cooldown")
#     metric_aggregation_type = "Average"
# 
#     step_adjustment {
#       metric_interval_lower_bound = 0
#       scaling_adjustment          = 1
#     }
#   }
# 
#   depends_on = ["aws_appautoscaling_target.autoscale-{{ .APIName }}"]
# }
# 
# resource "aws_appautoscaling_policy" "{{ .APIName }}-scale_down" {
#   name               = "{{ .APIName }}-scale_down"
#   service_namespace  = "ecs"
#   resource_id        = "service/${var.ecs-{{ .Project }}-cluster.name}/{{ .APIName }}"
#   scalable_dimension = "ecs:service:DesiredCount"
# 
#   step_scaling_policy_configuration {
#     adjustment_type         = "ChangeInCapacity"
#     cooldown                = lookup(var.load-balancer-rule, "{{ .APIName }}.scale-down-cooldown")
#     metric_aggregation_type = "Average"
# 
#     step_adjustment {
#       metric_interval_upper_bound = 0
#       scaling_adjustment          = -1
#     }
#   }
# 
#   depends_on = ["aws_appautoscaling_target.autoscale-{{ .APIName }}"]
# }
# 
# resource "aws_cloudwatch_metric_alarm" "{{ .APIName }}-cpu_high" {
#   alarm_name          = "{{ .APIName }}-cpu_high"
#   comparison_operator = "GreaterThanOrEqualToThreshold"
#   evaluation_periods  = "2"
#   metric_name         = "CPUUtilization"
#   namespace           = "AWS/ECS"
#   period              = "60"
#   statistic           = lookup(var.load-balancer-rule, "{{ .APIName }}.cpu-high-statistic")
#   threshold           = lookup(var.load-balancer-rule, "{{ .APIName }}.cpu-high-threshold")
# 
#   dimensions = {
#     ClusterName = var.ecs-{{ .Project }}-cluster.name
#     ServiceName = "{{ .APIName }}"
#   }
# 
#   alarm_actions = ["${aws_appautoscaling_policy.{{ .APIName }}-scale_up.arn}"]
# }
# 
# resource "aws_cloudwatch_metric_alarm" "{{ .APIName }}-cpu_low" {
#   alarm_name          = "{{ .APIName }}-cpu_low"
#   comparison_operator = "LessThanOrEqualToThreshold"
#   evaluation_periods  = "2"
#   metric_name         = "CPUUtilization"
#   namespace           = "AWS/ECS"
#   period              = "60"
#   statistic           = lookup(var.load-balancer-rule, "{{ .APIName }}.cpu-low-statistic")
#   threshold           = lookup(var.load-balancer-rule, "{{ .APIName }}.cpu-low-threshold")
# 
#   dimensions = {
#     ClusterName = var.ecs-{{ .Project }}-cluster.name
#     ServiceName = "{{ .APIName }}"
#   }
# 
#   alarm_actions = ["${aws_appautoscaling_policy.{{ .APIName }}-scale_down.arn}"]
# } 