	"{{ .APIName }}.enable_autoscale"      = false
	"{{ .APIName }}.health-check-interval" = 20
	"{{ .APIName }}.health-check-timeout"  = 19
	"{{ .APIName }}.healthy-threshold"     = 2
	"{{ .APIName }}.unhealthy-threshold"   = 2
	"{{ .APIName }}.min-capacity"          = 1
	"{{ .APIName }}.max-capacity"          = 5
	"{{ .APIName }}.cpu-high-statistic"    = "Average"
	"{{ .APIName }}.cpu-low-statistic"     = "Average"
	"{{ .APIName }}.cpu-high-threshold"    = 30
	"{{ .APIName }}.cpu-low-threshold"     = 10
	"{{ .APIName }}.scale-up-cooldown"     = 180
	"{{ .APIName }}.scale-down-cooldown"   = 300
