variable "vpc-vpc-{{ .Project }}-id" {}
variable "vpc-subnet-{{ .Project }}-public-a-id" {}
variable "vpc-subnet-{{ .Project }}-public-c-id" {}

variable "sg-{{ .Project }}-alb-id" {}

variable "ecs-{{ .Project }}-cluster" {}

variable "load-balancer-rule" {
    type = map(string)
}