output "{{.Project }}-private-subnet-all-tcp-id" {
  value = aws_security_group.{{.Project }}-private-subnet-all-tcp.id
}

output "{{.Project }}-public-subnet-all-tcp-id" {
  value = aws_security_group.{{.Project }}-public-subnet-all-tcp.id
}

output "{{.Project }}-alb-id" {
  value = aws_security_group.{{.Project }}-alb.id
}

output "{{.Project }}-ecs-id" {
  value = aws_security_group.{{.Project }}-ecs.id
}
