variable "vpc_subnet_{{ .Project }}_private_a_cidr_block" {}
variable "vpc_subnet_{{ .Project }}_private_c_cidr_block" {}
variable "vpc_subnet_{{ .Project }}_public_a_cidr_block" {}
variable "vpc_subnet_{{ .Project }}_public_c_cidr_block" {}
variable "vpc_vpc_{{ .Project }}_id" {}
