variable "vpc-subnet-{{ .Project }}-private-a-cidr-block" {}
variable "vpc-subnet-{{ .Project }}-private-c-cidr-block" {}
variable "vpc-subnet-{{ .Project }}-public-a-cidr-block" {}
variable "vpc-subnet-{{ .Project }}-public-c-cidr-block" {}
variable "vpc-vpc-{{ .Project }}-id" {}
